{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Profile</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                {% if user.second_name == None %}
                <td>{{ user.first_name }} {{user.last_name}}</td>
                {% else %}
                <td>{{ user.first_name }} {{ user.second_name }} {{ user.last_name }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% if appointments != None %}
    <div class = "appointments">
        <h2>Appointments</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.doctor_id }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td> {{ appointment.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    {% if medical_record != None %}
    <div class="medical-record">
        <h3>Medical Record</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Record ID</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for record in medical_record %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.doctor }}</td>
                    <td>{{ record.date }}</td>
                    <td>{{ record.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}