{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Profile</h1>
    <div class="profile-header">
        <div class="profile-photo">
            <img src="{% static 'images/Portrait_Placeholder.png' %}" alt="User Photo">
        </div>
        <div class="profile-info">
            <h2>{{ user.first_name }} {% if user.second_name %}{{ user.second_name }}{% endif %} {{ user.last_name }}</h2>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>
    {% if appointments != None %}
    <div class = "appointments">
        <h2>Upcoming Appointments</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.doctor_id }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td> {{ appointment.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    {% if medical_record != None %}
    <div class="medical-record">
        <h3>Medical Record</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Record ID</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for record in medical_record %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.doctor }}</td>
                    <td>{{ record.date }}</td>
                    <td>{{ record.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class ="button-view">
            <a href="{% url 'patients:view_records' user.id %}" class="btn btn-primary">View Medical Report</a>
        </div>
        <div class ="button-view">
            <a href="{% url 'patients:view_appointments' user.id %}" class="btn btn-primary">View Appointments</a>
        </div>
    </div>
</div>
{% endblock %}