{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Your availabilty </h1>
    <div class="availability-show">
        <ul>
            {% for slot in available %}
            <li>{{ slot.date }} ({{ slot.start_time }} - {{ slot.end_time }})</li>
            {% empty %}
            <p>You dont have any available days for patients</p>
            {% endfor %}
        </ul>
    </div>
    <div class="add-availability">
        <h1>Add your availability</h1>
        <form method="post" class="availability-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="start_time">Start Time:</label>
                <input type="time" class="form-control" id="start_time" name="start_time" required>
            </div>
            <div class="form-group">
                <label for="end_time">End Time:</label>
                <input type="time" class="form-control" id="end_time" name="end_time" required>
            </div>
            <div class = "button-view">
            <button type="submit" class="btn btn-primary">Add Availability</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}