{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Doctor Profile</h1>
    <div class="profile-header">
        <h2>{{ doctor.first_name }} {% if doctor.second_name %}{{ doctor.second_name }}{% endif %} {{ doctor.last_name }}</h2>
        <p>Email: {{ doctor.email }}</p>
    </div>
    <div class="profile-details">
        <h3>Professional Details</h3>
        <table class="table">
            <tr>
                <th>Specialization</th>
                <td>{{ profile.specialization }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ profile.experience }} years</td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td>{{ profile.graduation }}</td>
            </tr>
        </table>
    </div>
    <div class="appointment-button">
        <a href="{% url 'doctors:makeAppointment' doctor.id %}" class="btn btn-primary">Book Appointment</a>
    </div>
    <div class="profile-footer">
      <a href = "{% url 'doctors:showDoctors' %}" class="btn btn-primary">Back</a>
    </div>
</div>
{% endblock %}