{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Doctor Profile</h1>
    <div class="profile-header">
        <div class="profile-photo">
            <img src="{% static 'images/Portrait_Placeholder.png' %}" alt="Doctor Photo">
        </div>        
        <div class="profile-info">
            <h2>{{ doctor.first_name }} {% if doctor.second_name %}{{ doctor.second_name }}{% endif %} {{ doctor.last_name }}</h2>
            <p>Email: {{ doctor.email }}</p>
        </div>
    </div>
    <div class="profile-details">
        <h3>Professional Details</h3>
        <table class="table">
            <tr>
                <th>Specialization</th>
                <td>{{ profile.specialization }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ profile.experience }} years</td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td>{{ profile.graduation }}</td>
            </tr>
        </table>
    </div>

    {% if request.user.doctor and request.user.email == doctor.email%}
    <div class="button-view">
        <a href="{% url 'doctors:createReport' %}" class="btn btn-primary">Create Report</a>
    </div>
    <div class ="button-view">
        <a href="{% url 'doctors:listModels' %}" class="btn btn-primary">Go to your models</a>
    </div>
    <div class ="button-view">
        <a href="{% url 'doctors:createAvailability' doctor.id %}" class="btn btn-primary">Add availabilty</a>
    </div>
 
    {% endif %}
    <div class="button-view">
      <a href = "{% url 'doctors:showDoctors' %}" class="btn btn-primary">Back</a>
    </div>
</div>
{% endblock %}