{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Profile</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                {% if user.second_name == None %}
                <td>{{ user.first_name }} {{user.last_name}}</td>
                {% else %}
                <td>{{ user.first_name }} {{ user.second_name }} {{ user.last_name }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}