{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Site</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags == 'error' %}message-error{% else %}message-{{ message.tags }}{% endif %}">
                {{ message }}
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>