{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Welcome to HealthcareApp</h1>
    <p>Your one-stop solution for managing healthcare services.</p>
    
    <div class="features">
        <h2>Features</h2>
        <ul>
            <li>Manage appointments</li>
            <li>Access medical records</li>
            <li>Consult with doctors online</li>
            <li>Receive health tips and updates</li>
        </ul>
        <div class = "button-view">
            <a href="{% url 'accounts:showAllUsers' %}" class="btn btn-primary">Show all users</a>
        </div>

        <div class = "button-view">
            <a href="{% url 'doctors:showDoctors' %}" class="btn btn-primary">Show all Doctors</a>
        </div>        
    </div>
</div>
{% endblock %}